{% extends 'base.html.twig' %}

{% block title %}Hello LocationController!{% endblock %}

{% block body %}

    {% for label, messages in app.flashes(['warning', 'error','success']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1>New Location</h1>

    {{ form(locationForm) }}

{% endblock %}

{% block javascripts %}
    <script>
        var $country= $('#location_country');

        $country.change(function() {
            var $form = $(this).closest('form');
            var data = {};
            console.log($country.val());
            data[$country.attr('name')] = $country.val();

            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    $('#location_city').replaceWith(
                        $(html).find('#location_city')
                    );
                }
            });
        });
    </script>
{% endblock %}